.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #379d86;
    color: white;
    text-align: center;
}

.bg_auditus {
    color: white;
    background-color: #379d86;
}